backend/soap_consumer/cpp/ns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
  targetNamespace="http://tempuri.org/ns.xsd/Service.wsdl"
  xmlns:tns="http://tempuri.org/ns.xsd/Service.wsdl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://tempuri.org/ns.xsd"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="http://tempuri.org/ns.xsd"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="http://tempuri.org/ns.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <!-- operation request element -->
    <element name="add">
      <complexType>
          <sequence>
            <element name="a" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__add::a -->
            <element name="b" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__add::b -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="addResponse">
      <complexType>
          <sequence>
            <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1"/><!-- ns__add::result -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="subtract">
      <complexType>
          <sequence>
            <element name="a" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__subtract::a -->
            <element name="b" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__subtract::b -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="subtractResponse">
      <complexType>
          <sequence>
            <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1"/><!-- ns__subtract::result -->
          </sequence>
      </complexType>
    </element>
  </schema>

</types>

<message name="addRequest">
  <part name="Body" element="ns:add"/><!-- ns__add::ns__add -->
</message>

<message name="addResponse">
  <part name="Body" element="ns:addResponse"/>
</message>

<message name="subtractRequest">
  <part name="Body" element="ns:subtract"/><!-- ns__subtract::ns__subtract -->
</message>

<message name="subtractResponse">
  <part name="Body" element="ns:subtractResponse"/>
</message>

<portType name="ServicePortType">
  <operation name="add">
    <documentation>Service definition of function ns__add</documentation>
    <input message="tns:addRequest"/>
    <output message="tns:addResponse"/>
  </operation>
  <operation name="subtract">
    <documentation>Service definition of function ns__subtract</documentation>
    <input message="tns:subtractRequest"/>
    <output message="tns:subtractResponse"/>
  </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
  <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="add">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="subtract">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
</binding>

<service name="Service">
  <documentation>gSOAP 2.8.139 generated service definition</documentation>
  <port name="Service" binding="tns:Service">
    <SOAP:address location="http://localhost:80"/>
  </port>
</service>

</definitions>
