backend/soap_consumer/cpp/ns.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <schema targetNamespace="http://tempuri.org/ns.xsd"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="http://tempuri.org/ns.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <!-- operation request element -->
    <element name="add">
      <complexType>
          <sequence>
            <element name="a" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__add::a -->
            <element name="b" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__add::b -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="addResponse">
      <complexType>
          <sequence>
            <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1"/><!-- ns__add::result -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="subtract">
      <complexType>
          <sequence>
            <element name="a" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__subtract::a -->
            <element name="b" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__subtract::b -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="subtractResponse">
      <complexType>
          <sequence>
            <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1"/><!-- ns__subtract::result -->
          </sequence>
      </complexType>
    </element>
  </schema>

